#= require jquery2
#= require jquery-ui.min

# multi_column_field component
#= require jquery.quicksearch.min
#= require jquery.multi-select.min
#= require jquery.multi-select-extend

# Bootstrap
#= require tether.min
#= require popper
#= require bootstrap.min

# date_picker_field component
#= require bootstrap-datepicker.min

# dropdown_select_field component
#= require bootstrap-select.min

# switch_field component
#= require bootstrap-switch.min

# multi_select_field component
#= require bootstrap-multiselect.min

# input_connected
#= require input-connected

# mardown-editor
#= require marked
#= require bootstrap-markdown

# File Input Browser
#= require bs-custom-file-input.min

# Ui Bibz
#= require table
#= require interface
#= require formula
#= require form

$.fn.selectpicker.Constructor.BootstrapVersion = '4'

<%= require_asset 'all.min' if UiBibz.configuration.fontawesomejs %>

@UiBibz = class UiBibz

  constructor: (args = {}) ->
    @turbolinks = args.turbolinks
    return false

  initial: ->
    <% if UiBibz.configuration.fontawesomejs %>
    FontAwesome.config = { observeMutations: false } # https://github.com/tomkra/font_awesome5_rails/issues/17
    FontAwesome.dom.i2svg()
    <% end %>

    new window.UiBibzTable()
    new window.UiBibzForm()
    new window.UiBibzInterface()
    new window.UiBibzFormula()
    $("textarea[data-provide*='markdown']").markdown() # fix markdown js if turbolinks exists
    return false

  ready: ->
    me = this
    console.log "ready"
    if @turbolinks?
      $(document).on 'turbolinks:load', ->
        me.initial() # catch event for turbolinks and fix in ready() function
    else
      $(document).ready ->
        me.initial()
    return false

