//.btn-group > .dropdown-menu
  //margin: 32px 3px 0px 0px !important

// fix form states
@each $key, $value in $states_colors
  .has-#{$key}
    .form-control
      border-color: $value !important
    label, span.help-block
      color: $value


// Fix bootstrap-select
// .bootstrap-select.btn-group .dropdown-toggle .filter-option
//   display: inline-grid !important

.dropdown-item
  svg
    float: left
