.stars-notation
  white-space: nowrap

// Glyph section
@each $key, $value in $states_colors
  .glyph-#{$key}
    color: $value

//.alert .glyph
  padding: .25rem 0

.glyph
  vertical-align: middle

.btn
  svg
    margin: 0.25rem 0.25rem
  i.glyph
    margin: 0.4rem 0.25rem
.input-group-btn button svg
  margin: 0.4rem 0.25rem

.dropdown-item
  .glyph
    margin-right: 1rem

.fa,
.fas,
.far,
.fal,
.fab
  line-height: 0 !important

span:not(.input-group-addon, .btn) svg
  margin-top: -0.1rem

// .input-group-btn span svg
//   margin: 0.25rem

.toast .toast-header img
  width: 20px
  height: 20px
